= search_form_for (@q), builder: SimpleForm::FormBuilder do |f|
  = f.input :profile_full_name_cont_any, label: false, placeholder: "Поиск", autofocus: true, input_html: { class: 'form-control form-control-sm' }
