= search_form_for (@q), builder: SimpleForm::FormBuilder do |f|
  .col-4.float-end
    = f.input :name_or_organization_cont_any, label: false, placeholder: "Поиск", autofocus: true, input_html: { class: 'form-control form-control-sm' }
