= turbo_stream.replace 'list_order_coolings', partial: "order_coolings/list_order_coolings"
= turbo_stream.replace 'order_coolings_search', partial: "order_coolings/search_form"
= render_turbo_stream_flash_messages