body {
  height: 100%;
  /* Just to force scrolling for this example */
}

footer {
  height: 60px;
}

// .sticky-top {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   z-index: 1020;
// }

//Стиль для таблицы: 'Клик для строки'
// th a {
//   display:block;
//   width:100%;
//   height: 100%;
//   color: $dark;
// }

// th a:hover {
//   text-decoration: none;
//   cursor: default;
// }

// th a i {
//   float: right;
// }

// thead th a:hover, th a:active, th a:visited, th a:link {
//   // color: $dark;
//   text-decoration: none;
//   cursor: default;
// }

//Конец стиля для таблицы: 'Клик для строки'

.thead {
  position: sticky;
  top: 0px;
  z-index: 1000
}

main {
  margin-top: 60px;
}

.sticky-offset {
  top: 60px;
}

.fixed-header {
  // height: auto; /* Прописываем высоту контейнера */
  overflow-y: auto; /* Активируем прокрутку */
}

@media (max-width: 1440px) {
  .fixed-header {
    height: 500px; 
  }
}

@media (min-width: 1981px) and (max-width: 2240px){
  .fixed-header {
    height: 830px;
  } 
}

@media (min-width: 1450px) and (max-width: 1980px) {
  .fixed-header {
    height: 700px;
  } 
}

.fixed-header tbody {
  // display: block; /* Переключаем на блочное отображение */
  // height: 800px; /* Задаём высоту области прокрутки */
  overflow-y: auto; /* Добавляем возможность прокрутки */
  // overflow-x: auto;
  display: table-row-group;
}

.form-group .icon {
  font-size: 18px;
  position: absolute;
  left: 18px;
  top: 6px;
  color: #afb3bb;
}

.form-control.auth {
  padding-left: 30px;
}

.auth-section .form-group, .auth-module .form-group {
  position: relative;
}

.form-group {
  margin-bottom: 10px;
}

.auth-section .form-control {
  padding-left: 40px;
}

.card-title.auth-text {
  color: $gray-700
}

.nav-link:focus {
  outline: 0;
}

.card {
  border-radius: 1em;
}

.fa-stack{
  position:absolute;
  right:2%;
  top:5%;
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  background:rgba(255,0,0,1);
}

.myAlert {
  z-index: 1000;
}

.main-spenner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0.4;
}
